.container{
    background-color: rgb(43, 41, 41);
    border: 1px solid black;
}
h1{
    margin: 50px;
    color:white;

}
.box__title{
    color: rgb(102, 102, 236);
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}
.chat__window{
    display: flex;
    justify-content:end;
}
.nickname{
    color: white;
    margin-right: 120px;
}
.message{
    color: white;
    margin-right: 80px;
}
.label{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color:white;
    font-weight: bold;

}
.space{
    border: 2px solid black;
    padding: 10px;
    
}
.box__comment{
    border: none;
    margin:0 570px;
    margin-left: 20px;

}
.space__tx{
    padding: 40px;
    border: 2px solid rgb(2, 1, 13);
}
.btn{
    margin-left:20px;
    border-color: rgb(89, 89, 229);
}
.submit{
    font-size: 16px;
    background: rgb(85, 85, 235);
    color: white;
    font-weight: bold;
}